* { box-sizing: border-box; margin: 0; padding: 0; font-family: Arial; }

body { color: #222; }

.container { max-width: 1200px; margin: auto; padding: 20px; }

.owerfloy-div {
  display: none;
  position: fixed;
  z-index: 2;
  background-color: #ececec83;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.owerfloy-div.active {
  display: block;
}

.header { 
  background: #fff; 
  border-bottom: 1px solid #eee; 
  position: sticky;
  z-index: 10;
  top: 0;
}
.header-row { display: flex; justify-content: space-between; align-items: center;     padding: 0 15px;}
.logo { 
  max-width: 55px;
  width: 100%;
}

.header-contacts { 
  display: flex;
  gap: 10px;
  align-items: center; 
}

.phone { text-decoration: none; color: #000; font-weight: bold; }

.icon-btn { text-decoration: none; color: #000; }

.btn {
    background: #ffd402;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 5px;
}


.btn-large { font-size: 18px; margin-top: 20px; color: #000; }

.hero { text-align: center; padding: 80px 20px; background: #f9f9f9; }

.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
}

.services__title {
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-size: 27px;
  border-bottom: 1px solid #ececec;
  padding-bottom: 4px;
}

.grid-3__title {
  margin-top: 6px;
  text-align: center;
}

.adv-card {
  background: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

.card { background: #fff; padding: 15px; border-radius: 10px;     border: 1px solid #ececec;
      display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.card img { width: 100%; border-radius: 10px; }

.gallery img { 
    width: 100%; border-radius: 10px; 
    height: 45dvh;
    object-fit: cover;
}

.footer { 
    background: #ffffff;
    color: #000000;
    text-align: center;
    font-weight: 600;
}

.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

form input, form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.success { display: none; text-align: center; margin-top: 20px; }

.burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 1100;
}

.burger span {
  width: 26px;
  height: 3px;
  background: #000;
  border-radius: 2px;
  transition: .3s;
}

/* крестик */
.burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.contact-btn {
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;
  padding:14px;
  border-radius:10px;
  font-size:17px;
  text-decoration:none;
  border:none;
  cursor:pointer;
  transition:0.2s;
}

.contact-btn i {
  font-size:20px;
}

/* Цвета */
.phone {
  background:#2c2c2c;
  color:#fff;
}

.whatsapp {
  background:#25D366;
  color:#fff;
}

.telegram {
  background:#229ED9;
  color:#fff;
}

.cancel {
  background:#eee;
  color:#333;
}

.contact-btn:hover {
  transform:scale(1.03);
}

.header-contacts {
  display:flex;
  gap:12px;
  padding:15px;
}

@media screen and (max-width: 479px) {
  .header-contacts {
  flex-direction:column;
  }
}

.contact-item {
  display:flex;
  align-items:center;
  gap:12px;
  padding:14px 16px;
  border-radius:12px;
  font-size:16px;
  text-decoration:none;
  font-weight:500;
  transition:0.2s;
}

.contact-item i {
  font-size:20px;
  width:24px;
  text-align:center;
}

/* Цвета */
.phone {
  background:#2c2c2c;
  color:#fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.whatsapp {
  background:#25D366;
  color:#fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.telegram {
  background:#229ED9;
  color:#fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.contact-item:hover {
  transform:scale(1.03);
  opacity:0.95;
}


.instagram {
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.header-contacts__about {
  display: none;
}

.contact-arrow {
  text-align: center;
  color: #ff6600; /* цвет стрелки/текста */
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}

/* MOBILE */
@media (max-width: 479px) {

  .header-contacts__about {
    display: block;
  font-size: 21px;
  color: #000;
}

  .container.hero-content {
    padding: 0;
  }

  .burger {
    display: flex;
    z-index: 9999;
  }

  .header-contacts {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100dvh;
    align-items: baseline;
    background: #fff;
    flex-direction: column;
    padding: 0 20px;
    margin-top: 56px;
    gap: 20px;
    transition: .3s;
    z-index: 1000;
  }

  .header-contacts.active {
    right: 0;
  }

  .header-row {
    position: relative;
  }
}
.hero {
  position: relative;
  min-height: 60dvh;
  background: url("../img/bnr.jpg") center / cover no-repeat;
  display: flex;
  align-items: center;
  color: #fff;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
}

.hero h1 {
  font-size: 34px;
  margin-bottom: 15px;
  line-height: 42px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 25px;
}

